aiohttp==3.7.4.post0
altgraph==0.17
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
cffi==1.14.5
chardet==4.0.0
discord.py==1.7.2
future==0.18.2
idna==3.1
multidict==5.1.0
pefile==2021.5.13
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyNaCl==1.4.0
python-dotenv==0.17.1
pywin32-ctypes==0.2.0
six==1.16.0
typing-extensions==3.10.0.0
yarl==1.6.3
ttkbootstrap==0.5.1

